
@font-face {
    font-family: 'Gilroy';
    src: url('/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy';
    src: url('/Gilroy-Medium.ttf') format('truetype');
}
@import "tailwindcss";



@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}

body{
    font-family: "Gilroy";
}